# Core functionality - changes here should be rare!
/src/app.py                   @Jacksonm75
/src/backend/database.py      @Jacksonm75
/src/backend/routers/auth.py  @Jacksonm75

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jacksonm75
